<%= provide(:title, "#{@ti} Test Question-#{@p}") %>
<% if (current_user.count==1) && current_user.under_test==1 && !@at %>
<% if current_user.redi!=-1 %>
  <div class = "alert alert-info">
  "Before attempting this question please click on the button below for identity proof"
  </div>
  <%= link_to "Click photo", headshot_demo_index_path, target: "_blank", class: "btn btn-primary btn-md" %>
  <% else %>
  <div class = "alert alert-danger">
  "Before attempting this question please click on the button below for identity proof"
  </div>
  <%= link_to "Click photo", headshot_demo_index_path, target: "_blank", class: "btn btn-primary btn-md" %>
  <% end %>
<% end %>
<div class="row">
  <div class="col-md-4">
    <h1>Question <%= @p %></h1>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default" data-toggle="tooltip" data-placement="top">
      <div class="panel-body">
        <div class="lead" id="clock"></div>
      </div>
    </div>
  </div>
</div>


		<script type="text/javascript">
			$(document).ready(function() {
          var futureDate  = new Date( <%= (@attempt.start_time + 25.minutes).to_f * 1000 %> );
          var savedTime = localStorage.getItem('currentTimerValue');
          var pathname = window.location.pathname;
          if (savedTime != null) {
            var timeArray = savedTime.split(":");
            var min = timeArray[0];
            var sec = timeArray[1];
            now = new Date().getTime();
            futureDate = new Date((now + parseInt(min) * 60000 + parseInt(sec) * 1000));
          }
          $('[data-toggle="tooltip"]').tooltip();
          var $clock = $('#clock');
          $clock.countdown(futureDate, function(event) {
            $(this).html(event.strftime('%M:%S'));
          }).on('finish.countdown', function(event) {
              window.location.href = "/users/finish?id=<%= current_user.activation_digest %>";
          });

          Offline.on('down', function () {
                $clock.countdown('pause');
            });

          Offline.on('up', function () {
                $clock.countdown('resume');
            });

          setInterval(function() {
            localStorage.setItem('currentTimerValue', $clock.html());
          }, 500);
			});

		</script>
<p>This is a multiple choice question with exactly one correct option</p>
<h3><%= @present_ques.question %></h3>
<% if !@present_ques.one.blank? %>
<%= form_for(@sheet) do |f| %>


<ul class="list-group">
  <li class="list-group-item">
    <div class="field", id="intest">
    <%= f.label :answer, class: "radio inline" do %>
      <%= f.radio_button(:answer, 1) %>
      <span><%= @present_ques.one %></span>
    <% end %>
    </div>
  </li>
  <li class="list-group-item">
    <div class="field", id="intest">
    <%= f.label :answer, class: "radio inline" do %>
      <%= f.radio_button(:answer, 2) %>
      <span><%= @present_ques.two %></span>
    <% end %>
    </div>
  </li>
  <li class="list-group-item">
    <div class="field", id="intest">
    <%= f.label :answer, class: "radio inline" do %>
      <%= f.radio_button(:answer, 3) %>
      <span><%= @present_ques.three %></span>
    <% end %>
    </div>
  </li>
  <li class="list-group-item">
    <div class="field", id="intest">
    <%= f.label :answer, class: "radio inline" do %>
      <%= f.radio_button(:answer, 4) %>
      <span><%= @present_ques.four %></span>
    <% end %>
    </div>
  </li>
</ul>
<div class="actions">
<% if current_user.count==40 %>
<%= f.submit "Finish", class:"btn btn-success btn-md" %>
<% else %>
<%= f.submit "Next ->", class: "button btn btn-success" %>
<% if @attempt.count>=15 %>
<%= link_to "Finish", users_finish_path, class: "btn btn-success pull-right" %>
<% end %>
<% end %>
</div>
<% end %>
<% else %>
<<%= image_tag @present_ques.iques.url(:large) %>
<%= form_for(@sheet) do |f| %>
<ul class="list-group">
  <li class="list-group-item", id="left">
    <div class="field", id="intest">
    <%= f.label :answer, class: "radio inline" do %>
      <%= f.radio_button(:answer, 1) %>
      <span><%= image_tag @present_ques.ione.url(:thumb) %></span>
    <% end %>
    </div>
  </li>
  <li class="list-group-item", id="left">
    <div class="field", id="intest">
    <%= f.label :answer, class: "radio inline" do %>
      <%= f.radio_button(:answer, 2) %>
      <span><%= image_tag @present_ques.itwo.url(:thumb) %></span>
    <% end %>
    </div>
  </li>
  <li class="list-group-item", id="left">
    <div class="field", id="intest">
    <%= f.label :answer, class: "radio inline" do %>
      <%= f.radio_button(:answer, 3) %>
      <span><%= image_tag @present_ques.ithree.url(:thumb) %></span>
    <% end %>
    </div>
  </li>
  <li class="list-group-item", id="left">
    <div class="field", id="intest">
    <%= f.label :answer, class: "radio inline" do %>
      <%= f.radio_button(:answer, 4) %>
      <span><%= image_tag @present_ques.ifour.url(:thumb) %></span>
    <% end %>
    </div>
  </li>
</ul>
<div class="actions">
<% if current_user.count==40 %>
<%= f.submit "Finish", class:"btn btn-success btn-md" %>
<% else %>
<%= f.submit "Next ->", class: "button btn btn-success" %>
<%= link_to "Finish", users_finish_path, class: "btn btn-success pull-right" %>`
</div>
<% end %>
<% end %>
<% end %>
<h2>  </h2>
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=<%= current_user.count*100/40 %>
  aria-valuemin="0" aria-valuemax="100" style="width:<%= current_user.count*100/40 %>%">
    <%= current_user.count*100/40 %>% Complete
  </div>
</div>
