<% provide(:title, "Edit") %>
<h1>Update Profile</h1>
<h3>  </h3>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@profile) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label :exams %>
    <%= f.text_field :exams, class: "form-control" %>
    <%= f.submit "Update", class: "btn btn-md btn-primary" %>
    <% end %>
  </div>
</div>
<h3>  </h3>
<h4> Reference Table -</h4>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Exam</th>
    </tr>
  </thead>
  <tbody>
  <% @exams.each do |exam| %>
  <tr>
    <td><%= exam.id %></td>
    <td><%= exam.topic %></td>
  </tr>
<% end %>
  </tbody>
</table>
