<% provide(:title, "Edit user") %>
<h1>Update Profile</h1>

<div class = "row">
<div class = "col-md-6 col-md-offset-3">
<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>
<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>
<h2>Contact Information</h2>
<%= f.label :email %>
<%= f.email_field :email, class: 'form-control' %>
<%= f.label :mobileno, "Mobile No" %>
<%= f.text_field :mobileno, class: 'form-control' %>
<h2>Professional Information</h2>
<%= f.label :classten, "Class X" %>
<%= f.text_field :classten, class: 'form-control' %>
<%= f.label :classtwelve, "Class XII" %>
<%= f.text_field :classtwelve, class: 'form-control' %>
<%= f.label :achievements %>
<%= f.text_area :achievements, class: 'form-control' %>
<%= f.label :experience %>
<%= f.text_area :experience, class: 'form-control' %>
<%= f.label :projects %>
<%= f.text_area :projects, class: 'form-control' %>
<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %>
<%= f.label :password_confirmation, "Confirmation" %>
<%= f.password_field :password_confirmation, class: 'form-control' %>
<%= f.submit "Save Changes", class: "btn btn-primary" %>
<% end %>
<div class="gravatar_edit">
<%= gravatar_for @user %>
<a href="http://gravatar.com/emails" target=_blank>change</a>
</div>
</div>
</div>