<% provide(:title, 'Sign up') %>
<div class = "container-fluid bg-grey">
<h1>Sign up</h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>
<%= f.label :name, "Full Name" %>
<%= f.text_field :name, class: 'form-control' %>
<h4 class = "text-center">Contact Information</h4>
<%= f.label :email %>
<%= f.email_field :email, class: 'form-control' %>
<%= f.label :mobileno, "Mobile No." %>
<%= f.text_field :mobileno, class: 'form-control' %>
<h4 class = "text-center">Professional Information</h4>
<%= f.label :classten, "Class X Percentage/CGPA" %>
<%= f.text_field :classten, class: 'form-control' %>
<%= f.label :classtwelve, "Class XII Percentage/CGPA" %>
<%= f.text_field :classtwelve, class: 'form-control' %>
<%= f.label :achievements %>
<%= f.text_area :achievements, class: 'form-control' %>
<%= f.label :experience %>
<%= f.text_area :experience, class: 'form-control' %>
<%= f.label :projects %>
<%= f.text_area :projects, class: 'form-control' %>
<h2>     </h2>
<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %>
<%= f.label :password_confirmation, "Confirmation" %>
<%= f.password_field :password_confirmation, class: 'form-control' %>
<%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>
</div>
</div>
</div>
