<% provide(:title, @user.name) %>
<!-- <div class="row">
  <div class="col-md-12"> -->
    <%= gravatar_for @user %>
  <!-- </div>
</div> -->
<div class = "row">
<div class = "text-center">
  <h4> </h4>
  <h2>
<%= @user.name %>
<% if @user.admin==true %>
<span class = "label label-md label-danger">Admin</span>
<% end %>
</h2>
</div>
</div>
<div>
<h2>  </h2>
</div>
<div class = "container-fluid bg-grey">
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#contact">Contact Information</a></li>
  <li><a data-toggle="tab" href="#professional">Professional Information</a></li>
</ul>
<div class="tab-content">
  <div id="contact" class="tab-pane fade in active">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h5>Email:</h5>
        <p><%= @user.email %></p>
      </div>
      <div class="col-sm-6 text-center">
        <h5>Mobile No:</h5>
        <p><%= @user.mobileno %></p>
      </div>
    </div>
  </div>
  <div id="professional" class="tab-pane fade">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h5>Class X Percentage/CGPA:</h5>
        <% if !@user.classten.blank? %>
        <p><%= @user.classten %></p>
        <% else %>
        <p>nil</p>
        <% end %>
      </div>
      <div class="col-sm-6 text-center">
        <h5>Class XII Percentage/CGPA:</h5>
        <% if !@user.classtwelve.blank? %>
        <p><%= @user.classtwelve %></p>
        <% else %>
        <p>nil</p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-center">
        <h5>Achievements:</h5>
        <% if !@user.achievements.blank? %>
        <p><%= @user.achievements %></p>
        <% else %>
        <p>nil</p>
        <% end %>
      </div>
      <div class="col-sm-6 text-center">
        <h5>Experience:</h5>
        <% if !@user.experience.blank? %>
        <p><%= @user.experience %></p>
        <% else %>
        <p>nil</p>
        <% end %>
      </div>
    </div>
    <div class = "text-center">
      <h5>Projects:</h5>
      <% if !@user.projects.blank? %>
      <p><%= @user.projects %></p>
      <% else %>
      <p>nil</p>
      <% end %>
    </div>
  </div>
</div>
</div>
<h2>   </h2>
<%= link_to "Enter test", gettest_path, class: "btn btn-primary btn-md" %>
<%= link_to "Create Profile", createprofile_path, class: "btn btn-md btn-primary" %>
<%= link_to "All Profiles", profiles_path, class: "btn btn-md btn-primary" %>
<h1>  </h1>
  <% if current_user.admin==true %>
  <h2>  </h2>
  <h2 id="centre">Exam Statistics</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Exam</th>
        <th>Average Ability</th>
        <th>Attempts</th>
      </tr>
    </thead>
    <tbody>
    <% @exams.each do |exam| %>
    <tr>
      <td><%= exam.topic %></td>
      <td><%= exam.average %></td>
      <td><%= Attempt.where(exam_id: exam.id).count %></td>
    </tr>
<% end %>
    </tbody>
  </table>
  <% end %>
