<header>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                    data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Recruitment Test", root_path, id: "logo"%>
      </div>
      <% if !user_giving_test %>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </nav>
      <% elsif user_giving_test %>
      <% if Attempt.where(user_id: current_user.id).last != nil %>
        <% if Attempt.where(user_id: current_user.id).last.count>=15 %>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class = "nav navbar-nav navbar-right">
            <li><%= link_to "Finish", users_finish_path %></li>
          </ul>
        </nav>
        <% end %>
        <% end %>
      <% end %>
    </div>
  </nav>
</header>
